/* Header */
header {
  background-color: #f4a261; /* Couleur de fond du header */
  color: #333; /* Couleur du texte */
  padding: 20px;
  width: 100%;
  position: fixed; /* Fixer le header en haut */
  top: 0; /* Coller en haut */
  z-index: 1000; /* Assurer que le header soit au-dessus du contenu */
  left: 0;
  height: 80px; /* Hauteur du header */
  box-sizing: border-box; /* Inclure le padding dans la hauteur totale */
}

/* Sidebar */
.sidebar {
  width: 250px; /* Largeur de la sidebar */
  height: calc(
    100vh - 120px
  ); /* Hauteur égale à la fenêtre moins le header et le footer */
  background-color: #333; /* Couleur de fond */
  color: white; /* Couleur du texte */
  padding: 20px; /* Espacement interne */
  position: fixed; /* Fixer la sidebar à gauche */
  top: 50px; /* Placer sous le header */
  left: 0; /* Coller à gauche */
  display: flex;
  flex-direction: column; /* Empile les éléments verticalement */
  justify-content: space-between; /* Placer le bouton logout en bas */
  box-sizing: border-box; /* Inclure le padding dans la largeur */
  margin-top: 20px;
}

.sidebar h1 {
  font-size: 24px; /* Taille du texte pour "Dashboard" */
  margin-bottom: 20px; /* Espacement en dessous du titre */
}

.logout {
  margin-top: auto; /* Placer le bouton en bas de la sidebar */
}

.logout button {
  width: 100%; /* Largeur complète du bouton */
  padding: 10px; /* Espacement interne */
  background-color: red; /* Couleur du bouton */
  border: none; /* Pas de bordure */
  color: white; /* Texte en blanc */
  cursor: pointer; /* Curseur en forme de main */
}

/* Footer */
footer {
  background-color: #2a9d8f; /* Couleur de fond du footer */
  color: rgb(255, 255, 255); /* Couleur du texte */
  padding: 10px;
  text-align: center;
  position: fixed; /* Fixer le footer en bas */
  bottom: 0; /* Coller en bas */
  width: 100%;
  height: 80px; /* Hauteur du footer */
  z-index: 1000; /* Assurer que le footer soit au-dessus du contenu */
}
.color-container {
  color: aqua;
}
.color-container {
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.color-container p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.color-container button {
  width: 45px;
  height: 45px;
  margin: 5px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.color-container button:hover {
  transform: scale(1.1);
}

.color-container button:focus {
  outline: none;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.color-container button:active {
  transform: scale(0.95);
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000; /* Assurez-vous que la modal est bien au-dessus */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  opacity: 0;
  animation: fadeIn 0.3s forwards; /* Animation d'apparition */
}

.modal-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
  position: relative;
  transform: translateY(-50px);
  animation: slideUp 0.3s forwards; /* Animation d'apparition avec glissement */
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.modal-message {
  font-size: 16px;
  margin-bottom: 30px;
  color: #555;
}

.modal-button {
  background-color: #6200ea;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-button:hover {
  background-color: #3700b3;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
  color: #888;
  cursor: pointer;
  transition: color 0.3s;
}

.close:hover {
  color: #333;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}
