/* Header */
header {
  background-color: #f4a261; /* Couleur orange claire */
  color: #333; /* Texte foncé */
  padding: 20px;
  width: 100%;
  position: fixed; /* Fixer le header en haut */
  top: 0;
  left: 0;
  z-index: 1000; /* Assurer que le header reste visible */
}

/* Footer */
footer {
  background-color: #2a9d8f; /* Couleur verte */
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed; /* Fixer le footer en bas */
  bottom: 0;
  left: 0;
  width: 100%; /* S'assurer que le footer prend toute la largeur */
  z-index: 1000; /* Assurer qu'il est au-dessus du contenu */
  box-sizing: border-box;
}

/* Main */
main {
  padding: 20px;
  text-align: center;
  margin-top: 100px; /* Pour éviter que le contenu passe sous le header */
  margin-bottom: 80px; /* Pour éviter que le contenu passe sous le footer */
  box-sizing: border-box;
  min-height: calc(
    100vh - 180px
  ); /* Hauteur de la fenêtre moins le header et le footer */
  overflow: hidden;
}
