<!-- Header -->
<header style="padding: 20px; background-color: #f4a261">
  <a href="#" class="logo" style="font-size: 40px; text-decoration: none">
    <mat-icon>storefront</mat-icon>
    Cafe Management System
  </a>
  <ul style="float: right">
    <a
      style="padding-right: 10px; cursor: pointer"
      (click)="handleSignupAction()"
      >Signup</a
    >
    <a
      style="cursor: pointer; padding-right: 30px"
      (click)="handleLoginAction()"
      >Login</a
    >
  </ul>
</header>

<!-- Main Content (Empty for now, can add later) -->
<main style="min-height: 300px; padding: 20px; text-align: center">
  <p *ngIf="!isUserAuthenticated()">
    Bienvenue sur le système de gestion du café.
  </p>
</main>

<!-- Footer -->
<footer
  style="
    text-align: center;
    padding: 10px;
    background-color: #2a9d8f;
    color: white;
  "
>
  <p>All rights reserved Don</p>
</footer>
<router-outlet></router-outlet>
